@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyProWeb.Models.Category
<div class="card card-primary" style="margin: 10px">
    <div class="card-header" style="background-color: #dc3545;">
        <h3 class="card-title" style="color:white">Delete Category</h3>
    </div>
    <dl class="card-body">
       
        <dd style="position: center; font-size: 30px" class="col-sm-10">
            @Html.DisplayFor(model => model.NameCate)
        </dd>
       
        <dd class="col-sm-10">
            <img src="@Model.ImgCate" alt="@(Model.NameCate)" asp-append-version="true" style="border-radius:20px;width: 150px; height: 150px;">
        </dd>

    </dl>

    <div class="card-footer row">
        <form asp-action="PostDelete">
            <input type="hidden" asp-for="Idcate" />
            <button type="submit" style="width: 150px" class="btn btn-danger">Delete</button>
            <a asp-action="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary ">Back</a>
        </form>
    </div>

</div>

