@page "/admin/delete_role/{roleID}"
@model MyProWeb.Areas.Admin.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Delete Role!";
}
<h2> @ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
           <p>Are you sure to delete <strong>@Model.role.Name</strong>?</p>
            <div class="form-group">
                <input type="submit" value="I Accept" class="btn btn-outline-danger" />
                <a class="btn btn-outline-primary" asp-page="./Index">List Role</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
